@font-face {
  font-family: 'Raleway';
  src: url('../fonts/RalewayRegular.woff2') format('woff2'),
    url('../fonts/RalewayRegular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Raleway';
  src: url('../fonts/RalewayLight.woff2') format('woff2'),
    url('../fonts/RalewayLight.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}


@font-face {
  font-family: 'Raleway';
  src: url('../fonts/RalewayMedium.woff2') format('woff2'),
    url('../fonts/RalewayMedium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Prata';
  src: url('../fonts/PrataRegular.woff2') format('woff2'),
    url('../fonts/PrataRegular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

:root {
  --color-orange: #FACA47;
  --color-white: #FFF;
  --color-black: #000000;
  --color-brown: #AD2D11;
  --color-background: #FDFAF4;
}

html {
  box-sizing: border-box;
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  background: var(--color-background);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

*:focus-visible {
  outline: none;
}

.container {
  max-width: 1366px;
  margin: 0 auto;
}

a {
  color: inherit;
  text-decoration: none;
}

picture>img {
  vertical-align: top;
  width: 100%;
  height: 100%;
}

img {
  max-width: 100%;
}

.list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

.title {
  margin: 0;
  font-family: 'Prata', sans-serif;
  font-size: 32px;
  font-weight: 400;
  line-height: 43px;
  color: var(--color-brown);
}

/* header */
.header {
  background-image: url('../image/header-bg.png');
  background-position: top center;
  background-repeat: no-repeat;
  background-size: contain;
}

.header__nav {
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
}

.header__list {
  display: flex;
  justify-content: center;
  padding-top: 32px;
  padding-bottom: 25px;
}

.header__item:not(:last-child) {
  margin-right: 64px;
}

.header__link {
  line-height: 19px;
  transition: color 0.3s ease-in-out;
}

.header__link:focus {
  color: var(--color-brown);
}

.header__link:hover {
  color: var(--color-brown);
}

.header__link:active {
  color: var(--color-orange);
}

/* hero */
.hero {
  padding-top: 219px;
  padding-bottom: 334px;
}

.hero__title {
  margin: 0;
  margin-bottom: 10px;
  font-family: 'Prata', sans-serif;
  font-size: 48px;
  line-height: 65px;
  text-align: center;
  color: var(--color-brown);
}

.hero__descr {
  display: block;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
}

/*info*/

.info {
  padding-top: 201px;
  background: #FDFAF4;
}

.info__sub {
  background-color: var(--color-white);
}

.info__container {
  margin: 0 auto;
  padding: 0;
  max-width: 1366px;
}

.info__title {
  margin: 0;
  margin-bottom: 56px;
  padding-left: 96px;
  font-family: 'Prata';
  font-size: 32px;
  line-height: 43px;
  color: var(--color-brown);
}

.info__image {
  display: inline-block;
  flex-shrink: inherit;
  margin-right: 124px;
  width: 771px;
  height: 476px;
}

.info__wrapp {
  display: flex;
}

.info__text {
  margin: 0;
  max-width: 376px;
  font-family: 'Raleway';
  font-size: 18px;
  line-height: 26px;
  color: var(--color-black);
}

.projects-swiper-wrapper {
  margin-bottom: 124px;
}

.sub {
  position: relative;
  padding: 191px 157px 220px 95px;
  height: fit-content;
}

.sub__text p {
  font-size: 32px;
  line-height: 54px;
  font-family: 'Prata', sans-serif;
  margin: 0;
}

.sub__img-right,
.sub__img-left {
  position: absolute;
  opacity: 0.35;
}

.sub__img-left {
  bottom: 35px;
  left: 174px;
  width: 240px;
  height: 315px;
}

.sub__img-right {
  top: 51px;
  right: 170px;
  width: 186px;
  height: 267px;
}

/* Свайпер */
.swiper-button-prev,
.swiper-rtl .swiper-button-next {
  width: 76px;
  left: 895px;
  top: 339px;
}

.swiper-button-next,
.swiper-rtl .swiper-button-prev {
  width: 76px;
  right: 295px;
  top: 339px;
}

.swiper-button-prev:after,
.swiper-rtl .swiper-button-next:after {
  content: ''; 
}

.swiper-button-next:after,
.swiper-rtl .swiper-button-prev:after {
  content: ''; 
}

.swiper-button-prev:hover .swiper-button-prev-svg path,
.swiper-button-prev:hover .swiper-button-prev-svg circle {
  stroke: var(--color-orange);
}

.swiper-button-prev:focus .swiper-button-prev-svg path,
.swiper-button-prev:focus .swiper-button-prev-svg circle {
  stroke: var(--color-black);
}

.swiper-button-next:hover .swiper-button-next-svg path,
.swiper-button-next:hover .swiper-button-next-svg circle {
  stroke: var(--color-orange);
}

.swiper-button-next:focus .swiper-button-next-svg path,
.swiper-button-next:focus .swiper-button-next-svg circle {
  stroke: var(--color-black);
}

.swiper-button-prev-svg path,
.swiper-button-prev-svg circle, 
.swiper-button-next-svg path,
.swiper-button-next-svg circle {
  transition: stroke .3s ease-in-out;
}



/* history */

.history {
  background-color: #FDFAF4;
  padding: 128px 0 176px;
}

.history__title {
  margin: 0;
  margin-bottom: 55px;
  padding-left: 95px;
  font-family: 'Prata', sans-serif;
  font-size: 32px;
  line-height: 43px;
  color: var(--color-brown);
}

.history__list {
  max-width: 976px;
  margin: 0 auto;
  counter-reset: counter;
}

.history__item {
  display: flex;
  height: 200px;
}

.history__item:not(:nth-child(2n)) {
  justify-content: flex-end;
}

.history__item:nth-child(2n) .history__item__card {
  flex-direction: row-reverse;
}

.history__item__card {
  display: flex;
  width: 50%;
  position: relative;
  justify-content: flex-end;
}

.history__item__card-right {
  padding: 13px;
  border: 1px solid var(--color-orange);
  border-radius: 100%;
  width: 176px;
  height: 176px;
  flex-shrink: 0;
}

.history__item__card-image {
  height: 150px;
  background-color: #E5E5E5;
  border-radius: 100%;
}

.history__item__card-left {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: start;
  position: relative;
  flex-grow: 2;
}

.history__item__card-title .history__item__card-text {
  height: 50%;
  margin: 0;
  padding: 12px 30px;
}

.history__item__card-text {
  font-weight: 300;
  line-height: 22px;
  margin: 0 auto;
  padding-top: 12px;
  max-width: 266px;
}

.history__item__card-title {
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  position: relative;
  font-family: 'Prata';
  font-weight: 400;
  max-width: 250px;
  height: 88px;
  margin: 0 auto;
  padding-bottom: 12px;
}

.history__item__card-left::before {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  height: 1px;
  background-color: var(--color-orange);
  bottom: 56%;
}

.history__item__card::before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  width: 1px;
  background-color: var(--color-orange);
  left: -0.5px;
}

.history__item:nth-child(2n) .history__item__card::before {
  left: auto;
  right: -0.5px;
}

.history__item:first-child .history__item__card::before {
  top: 50%;
}

.history__item:last-child .history__item__card::before {
  bottom: 50%;
}

.history__item__card::after {
  content: counter(counter);
  counter-increment: counter;
  position: absolute;
  left: 0;
  top: 44%;
  transform: translate(-50%, -50%);
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
  font-family: 'Prata';
  background-color: var(--color-orange);
  color: var(--color-white);
  border-radius: 100%;
}

.history__item:nth-child(2n) .history__item__card::after {
  left: auto;
  right: 0;
  transform: translate(50%, -50%);
}

/*landmark*/
.landmark {
  padding-top: 124px;
  padding-bottom: 76px;
  background-color: var(--color-white);
}

.landmark__container {
  width: 1176px;
  margin: 0 auto;
}

.landmark__title {
  margin-bottom: 157px;
}

.common-text {
  margin: 0;
  margin-left: auto;
  margin-bottom: 180px;
  width: 676px;  
  font-size: 18px;
  line-height: 30px;
}

.landmark__item {
  display: flex;
  justify-content: space-between;
  border-top: 0.5px solid var(--color-orange);
  padding-top: 75px;
  padding-bottom: 100px;
}

.landmark__item__title {
  margin: 0;
  width: 187px;
  margin-right: 110px;
  color: var(--color-black);
  font-family: 'Prata';
  font-size: 24px;
  line-height: 24px;
}

.landmark__item__img {
  margin-right: 24px;
}

.landmark__item__text {
  margin: 0;
  width: 476px;
  font-size: 16px;
  line-height: 26px;
}

/* expenses */
.expenses {
  padding: 124px 0 248px;
}

.expenses .container {
  width: 1176px;
  margin: 0 auto;
}

.expenses__title {
  margin-bottom: 57px;
}

.expenses__text {
  margin-bottom: 218px;
  
}

.expenses__list {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.expenses__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 276px;
  width: 100%;
  padding: 26px 0 16px;
}

.expenses__item-image {
  margin-bottom: 30px;
}

.expenses__item-text {
  margin-bottom: 16px;
  font-weight: 300;
  font-size: 18px;
  line-height: 26px;
}

.expenses__item-price {
  font-family: 'Prata';
  font-size: 22px;
  font-weight: 400;
  line-height: 26px;
}

/* MAP */
.map-container {
  width: 1176px;
  margin: 0 auto;
}

.map__title {
  margin-bottom: 55px;
}

[class*="ground-pane"] {
  filter: hue-rotate(207deg);
}

.ymaps-2-1-79-copyrights-pane {
  display: none;
}

/* FOOTER */

.footer {
  height: 200px;
  padding-top: 48px;
  padding-bottom: 24px;
  color: #FDFAF4;
  background-color: #181515;
}

.footer .container {
  width: 1176px;
  margin: 0 auto;
}

.footer__nav {
  display: flex;
  justify-content: flex-end;
}

.footer__list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-bottom: 9px;
  height: 101px;
  width: 576px;
}

.footer__item {
  max-width: 200px;
}

.footer__item:not(:last-child) {
  margin-bottom: 14px;
}

.footer__link {
  color: var(--color-background);
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  transition: color 0.3s ease-in-out;
}

.footer__link:focus {
  color: var(--color-brown);
}

.footer__link:hover {
  color: var(--color-orange);
}

.footer__link:active {
  color: var(--color-brown);
}

.coopyright {
  width: 570px;
}

.coopyright__year {
  margin-right: 57px;
  font-size: 12px;
  line-height: 14px;
  color: var(--color-background);
}

.coopyright__conf {
  font-size: 12px;
  line-height: 14px;
}